@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (min-width: 640px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 639px) {
  .mobile-menu {
    position: relative;
    background-color: #fff;
  }

  .menu-icon {
    cursor: pointer;
  }
  .menu-items {
    display: hidden; /* or use 'hidden' class */
    position: absolute;
    top: 100%; /* Position the menu below the button */
    right: 100%;
    transform: translateX(calc(100% + -18rem));
    width: 100%;
    /* border: 1px solid #e2e8f0; */
    padding: 0.5rem;
    z-index: 10;
  }
  
  .menu-items.open {
    display: block; /* or use 'block' class */
  }
  /* .mobile-menu.open .menu-items {
    display: block;
 
  } */

  .relative {
    position: relative;
    height: 2rem; /* Set the desired fixed height for the navigation bar */
  }

}
